.table-head th:last-child .resize-btn{
    height: 0;
}

.table-head .resize-btn::after{
    width: 0px !important;
}
tbody .order-number .row div{
    padding-left: 10px;
}
.download{
    margin-right: 10px;
}
.new-agent{
    color: #34495E!important;
    background: #D4D7DB!important;
    font-weight: bold;
}
.icons #up-btn, .icons > svg, .icons > div {
    margin-right: 1em;
    font-size: 2em;
    width: 1em;
    height: 1em;
}
.toggle{
    width: 2em;
    height: 2em;
}